/*.modal{z-index: 1060;}*/

/*.datepicker { z-index:9 !important; }*/

/*.datepicker { width: 17em; padding: .2em .2em 0; display: none; z-index: 2000 !important;}*/
/*.datepicker-container{position: relative; z-index:9999 !important;}*/