{# src/TimeProjectBundle/Resources/views/Default/error-404.html.twig #}
{% extends 'TimeProjectBundle::layout.html.twig' %}

{% block body %}

<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <header>
                <h1>Erreur 404 ! Page introuvable </h1>
            </header>
        </div>
    </div>

</div>

{% endblock %}