{% extends 'TimeProjectBundle::layout.html.twig' %}

{% block tilte %} {{ parent() }} - Configuration de la société {% endblock %}

{% block steelsheets %}
    <link rel="stylesheet" href="{{ asset('bundle/assets/css/login.css') }}" />
{% endblock %}

{% block body %}
    <div>
        TEST
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/assets/js/jquery.min.js') }}"></script>
{% endblock %}